Workflow__WhatsApp_GDrive_Assistant.json
{
  "name": "WhatsApp_GDrive_Assistant.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        624
      ],
      "id": "7da47ac5-5f3d-4907-ae80-e57ac8e6206b",
      "name": "Webhook",
      "webhookId": "22f76f4b-f167-4a8b-8692-e12f52881c42"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"body\"][\"Body\"].toUpperCase().trim().split(\" \")[0] }}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db4d26f4-09bd-4bca-b6d6-6c492c7d4e91"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b218a342-5e53-4719-8ff2-86be3ab45010",
                    "leftValue": "={{ $json[\"body\"][\"Body\"].toUpperCase().trim().split(\" \")[0] }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "daebdfea-5acc-40d6-86fc-37efb4f9ee99",
                    "leftValue": "={{ $json[\"body\"][\"Body\"].toUpperCase().trim().split(\" \")[0] }}",
                    "rightValue": "RENAME",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c734221-ac9f-4972-84b9-efe53c22c875",
                    "leftValue": "={{ $json[\"body\"][\"Body\"].toUpperCase().trim().split(\" \")[0] }}",
                    "rightValue": "UPLOAD",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ff7c822-5787-4e13-b5c6-7fabf8a5f900",
                    "leftValue": "={{ $json[\"body\"][\"Body\"].toUpperCase().trim().split(\" \")[0] }}",
                    "rightValue": "MOVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91897bca-36fa-4c2e-8726-42dcdca6e02d",
                    "leftValue": "={{ $json[\"body\"][\"Body\"].toUpperCase().trim().split(\" \")[0] }}",
                    "rightValue": "SUMMARY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -304,
        560
      ],
      "id": "2ed2a81f-4b7e-4c15-b0d8-c103a12bc947",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e20ec5c8-116a-4ab3-b555-c75b8e1cf266",
              "name": "message",
              "value": "={{ ($itemIndex + 1) + \". \" + $json[\"name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -32
      ],
      "id": "45cf29b8-38db-47cb-b575-5bf0d13fbff3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918130112728",
        "toWhatsapp": true,
        "message": "={{$json[\"message\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1440,
        -32
      ],
      "id": "4f7bc78c-2c3c-4c2b-acb9-987c20feb5d5",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "k22K72Ao5xvRHWfj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json[\"body\"][\"Body\"] || \"\";\nconst parts = body.trim().split(\" \"); // split by space\nconst command = parts[0].toUpperCase(); // e.g. LIST\nconst folderName = parts[1] || \"\"; // folder name after LIST\n\nreturn {\n  json: {\n    command,\n    folderName\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -32
      ],
      "id": "9aa8f39f-2982-4641-b796-47aed01a8d6f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"folderName\"] }}",
        "limit": 5,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        -32
      ],
      "id": "2503b062-cfae-4200-83bc-49da87700fcf",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "limit": 5,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json[\"id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        -32
      ],
      "id": "3082c086-3501-45d5-a2cb-08978d9112a0",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json[\"body\"][\"Body\"] || \"\";\n\n// Split command and path\nconst [rawCommand, ...rest] = body.trim().split(\" \");\nconst command = rawCommand.toUpperCase();\n\n// Everything after the command is the path (folder/file)\nconst path = rest.join(\" \").trim();\n\n// Remove leading \"/\" if present\nconst cleanPath = path.startsWith(\"/\") ? path.slice(1) : path;\n\n// Split into folder + file\nconst [folderName, ...fileParts] = cleanPath.split(\"/\");\nconst fileName = fileParts.join(\"/\").trim();\n\nreturn {\n  json: {\n    command,\n    folderName: folderName || null,\n    fileName: fileName || null\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        192
      ],
      "id": "893904de-1637-4236-9b74-a0c7bb3ee919",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{$json[\"fileName\"]}}",
        "limit": 5,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV",
            "mode": "list",
            "cachedResultName": "Check",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        176
      ],
      "id": "7f9ce6a2-19e3-4048-af3c-14080951d6f0",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        176
      ],
      "id": "7117a53f-880f-402d-ade8-0e1e5eb3c88c",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918130112728",
        "toWhatsapp": true,
        "message": "=File '{{ $json[\"fileName\"] }}' deleted from folder '{{ $json[\"folderName\"] }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1248,
        176
      ],
      "id": "adb987ec-ff09-4c0b-a0b9-922c94ed519f",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "k22K72Ao5xvRHWfj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json[\"body\"][\"Body\"] || \"\";\nconst input = body.trim();\nconst parts = input.split(\" \");\nconst command = parts[0].toUpperCase();\n\nif (command === \"RENAME\") {\n  // Example: RENAME /Check/oldFileName.pdf newFileName.pdf\n\n  // Remove the command word\n  const rest = input.substring(command.length).trim();\n\n  // Find the last space → separates old file path from new name\n  const lastSpaceIndex = rest.lastIndexOf(\" \");\n  const oldPath = rest.substring(0, lastSpaceIndex).trim();\n  const newFile = rest.substring(lastSpaceIndex + 1).trim();\n\n  // Strip the \"/Check/\" folder part if included in oldPath\n  const oldFile = oldPath.replace(/^\\/?Check\\//, \"\");\n\n  return {\n    command,\n    folderName: \"Check\",   // fixed folder\n    oldFile,\n    newFile\n  };\n}\n\nreturn {\n  command\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        400
      ],
      "id": "0011e9a3-0554-4dc9-bb54-b01695f8b50e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"oldFile\"] }}",
        "limit": 5,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV",
            "mode": "list",
            "cachedResultName": "Check",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        384
      ],
      "id": "4765196c-1160-4ada-9dfe-4b5ce0dafe66",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"id\"] }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json[\"newFile\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        384
      ],
      "id": "15684c78-a16b-4a05-9b8e-1b3778604616",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918130112728",
        "toWhatsapp": true,
        "message": "=File Renamed Successfully",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1456,
        384
      ],
      "id": "5be72092-db7e-485d-8f11-a290c39a5918",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {
        "twilioApi": {
          "id": "k22K72Ao5xvRHWfj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        512
      ],
      "id": "ba23a7bb-97e1-40b7-af98-12102bcf6d04",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json[\"body\"][\"Body\"] || \"\";\nconst numMedia = parseInt($json[\"body\"][\"NumMedia\"] || \"0\", 10);\n\nlet command = \"NONE\";\nlet folderName = \"Default\";\nlet newFileName = null;\nlet mediaUrl = null;\n\n// ✅ Case 1: If there's a file uploaded\nif (numMedia > 0) {\n  mediaUrl = $json[\"body\"][\"MediaUrl0\"];\n\n  if (body.trim().length > 0) {\n    // Example: \"UPLOAD /Check Parth.pdf\"\n    const parts = body.trim().split(\" \");\n\n    command = parts[0].toUpperCase(); // UPLOAD\n\n    // Extract folder and filename after command\n    const path = body.trim().substring(body.indexOf(\" \")).trim(); // \"/Check Parth.pdf\"\n    const cleanPath = path.startsWith(\"/\") ? path.slice(1) : path;\n\n    const [folder, ...fileParts] = cleanPath.split(\" \");\n    folderName = folder || \"Default\";\n    newFileName = fileParts.join(\" \").trim() || \"uploaded_file.pdf\";\n  } else {\n    // No message, only file sent\n    command = \"UPLOAD\";\n    folderName = \"Default\";\n    newFileName = \"uploaded_file.pdf\";\n  }\n}\n\n// ✅ Final return (single object)\nreturn {\n  json: {\n    command,\n    folderName,\n    newFileName,\n    mediaUrl\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        608
      ],
      "id": "2f9dbbde-5327-4420-a0e2-3d35cd6c1163",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "={{$json[\"mediaUrl\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        608
      ],
      "id": "b5dba969-d1d5-41b6-8ef4-509e30fad4c8",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "uPXspz4FNe6tlFVI",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "name": "={{$json[\"newFileName\"] || \"whatsapp_upload.pdf\"}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV",
          "mode": "list",
          "cachedResultName": "Check",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        688
      ],
      "id": "36ca8cae-a1ca-4a03-8e0f-61afef492901",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918130112728",
        "toWhatsapp": true,
        "message": "=File Uploaded Successfully",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1216,
        688
      ],
      "id": "766cf662-4cde-4d02-91be-f5d64213e82d",
      "name": "Send an SMS/MMS/WhatsApp message3",
      "credentials": {
        "twilioApi": {
          "id": "k22K72Ao5xvRHWfj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json[\"body\"][\"Body\"] || \"\";\nconst command = body.split(\" \")[0].toUpperCase(); // MOVE\nconst path = body.substring(body.indexOf(\" \")).trim();\n\n// Remove leading slash\nconst cleanPath = path.startsWith(\"/\") ? path.slice(1) : path;\n\n// Split into parts\n// Format: FolderName/file.pdf /Archive\nconst [sourcePath, destFolder] = cleanPath.split(\" /\");\n\n// Extract folder + file\nconst [folderName, ...fileParts] = sourcePath.split(\"/\");\nconst fileName = fileParts.join(\"/\").trim();\n\nreturn {\n  json: {\n    command,\n    folderName,\n    fileName,\n    destFolder: destFolder ? destFolder.trim() : null\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        816
      ],
      "id": "4605272d-0c94-4811-9286-b86a3edaf7ed",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"fileName\"] }}",
        "limit": 10,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV",
            "mode": "list",
            "cachedResultName": "Check",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14oGzbLEORFU6gWBvry12Dt5d3Li3uqdV"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        912
      ],
      "id": "1c4c48a8-f5c3-426a-8976-e8cf61ad789c",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918130112728",
        "toWhatsapp": true,
        "message": "=File MOVED Successfully",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1264,
        912
      ],
      "id": "4cbeab32-4a6c-40a3-993f-44864a01fa05",
      "name": "Send an SMS/MMS/WhatsApp message4",
      "credentials": {
        "twilioApi": {
          "id": "k22K72Ao5xvRHWfj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zrjgd7zjdVSadCycJ2Pkj1l47mcjsPFU",
          "mode": "list",
          "cachedResultName": "Check2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zrjgd7zjdVSadCycJ2Pkj1l47mcjsPFU"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        912
      ],
      "id": "f3bf11d1-d50f-4ad1-a8f4-fc0adff787f9",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body.Body || \"\";  \n\nconst match = body.match(/^SUMMARY\\s+(.*)$/i);\n\nif (match) {\n  return {\n    command: \"SUMMARY\",\n    folderName: match[1].trim() || \"Check\" // fallback folder\n  };\n} else {\n  return {\n    command: \"NONE\",\n    message: \"Not a SUMMARY command.\"\n  };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1056
      ],
      "id": "03c7146c-7168-4e38-88bf-a63c20edf06b",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"folderName\"] }}",
        "limit": 10,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        1104
      ],
      "id": "0e077c2e-3810-4b4b-8208-d8b7adf5735d",
      "name": "Search files and folders5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json;\n\n// PDF Extract node usually outputs extracted text in something like `text` or `data.text`.\n// Let's grab it safely:\nconst pdfText = input.text || input.data || \"No text extracted.\";\n\n// Build the prompt text for Gemini\nconst textForAI = `Here is the extracted content from the PDF:\\n\\n${pdfText}`;\n\nreturn {\n  json: {\n    textForAI\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        1152
      ],
      "id": "392cc3b2-cd3c-4806-a7ba-fbcf44a15695",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918130112728",
        "toWhatsapp": true,
        "message": "=AI Summary:\n{{$json[\"summary\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2048,
        1152
      ],
      "id": "4639b0ea-0268-4d9d-b6f0-3b4f30853d3c",
      "name": "Send an SMS/MMS/WhatsApp message5",
      "credentials": {
        "twilioApi": {
          "id": "k22K72Ao5xvRHWfj",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let summary = \"No summary generated.\";\n\ntry {\n  // Get raw Gemini text\n  let rawText = $json.content?.parts?.[0]?.text;\n\n  if (rawText) {\n    // Remove markdown fences like ```json ... ```\n    rawText = rawText.replace(/```json|```/g, \"\").trim();\n\n    // Try parsing JSON\n    try {\n      const parsed = JSON.parse(rawText);\n\n      if (parsed.summary || parsed.Summary) {\n        summary = parsed.summary || parsed.Summary;\n      } else {\n        summary = JSON.stringify(parsed, null, 2); // fallback: whole parsed object\n      }\n    } catch (e) {\n      summary = rawText; // fallback: return plain text\n    }\n  }\n} catch (err) {\n  summary = \"Error extracting summary: \" + err.message;\n}\n\nreturn [{ json: { summary } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1152
      ],
      "id": "95c4a163-faeb-46f5-8e83-127bc08d2368",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"mimeType\"]}}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "973edfb3-e6b3-4ba7-820d-f7caea35f871"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        816,
        1152
      ],
      "id": "6587c131-bcfa-4baa-bc1f-482c0f27127d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        1152
      ],
      "id": "47f30325-b382-49fe-a27c-f58c24be5933",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1200,
        1152
      ],
      "id": "737fb090-de4e-4d40-bc53-39057e06e416",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1zrjgd7zjdVSadCycJ2Pkj1l47mcjsPFU",
            "mode": "list",
            "cachedResultName": "Check2",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1zrjgd7zjdVSadCycJ2Pkj1l47mcjsPFU"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        1152
      ],
      "id": "46091edd-66fc-4d5f-ae7a-69ca99b3f559",
      "name": "Search files and folders6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C72SDjgy39sq5N3Z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Summarize the following document in under 1200 characters (not words). \nKeep it concise and clear for WhatsApp delivery.\n\n{{ $json.textForAI }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        1152
      ],
      "id": "c3505104-0289-4398-bfff-285a244c126e",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "x6OjOVubUhNg9fyc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "584fc677bdca.ngrok-free.app",
            "user-agent": "TwilioProxy/1.1",
            "content-length": "577",
            "accept": "*/*",
            "content-type": "application/x-www-form-urlencoded",
            "i-twilio-idempotency-token": "73d82997-f39b-418a-acc5-6823acaea347",
            "x-forwarded-for": "98.80.74.100",
            "x-forwarded-host": "584fc677bdca.ngrok-free.app",
            "x-forwarded-proto": "https",
            "x-home-region": "us1",
            "x-twilio-signature": "Pqz9uBZ+8to4gAf1nELcNmOWDEQ=",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "SmsMessageSid": "SM528e46c37de85194799939e824cac428",
            "NumMedia": "0",
            "ProfileName": "Parth Khanna",
            "MessageType": "text",
            "SmsSid": "SM528e46c37de85194799939e824cac428",
            "WaId": "918130112728",
            "SmsStatus": "received",
            "Body": "SUMMARY /Check2",
            "To": "whatsapp:+14155238886",
            "NumSegments": "1",
            "ReferralNumMedia": "0",
            "MessageSid": "SM528e46c37de85194799939e824cac428",
            "AccountSid": "AC72eb12d1dda918ac0e0e6512a938a4e1",
            "ChannelMetadata": "{\"type\":\"whatsapp\",\"data\":{\"context\":{\"ProfileName\":\"Parth Khanna\",\"WaId\":\"918130112728\"}}}",
            "From": "whatsapp:+918130112728",
            "ApiVersion": "2010-04-01"
          },
          "webhookUrl": "http://localhost:5678/webhook/whatsapp",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Search files and folders5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Search files and folders6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders6": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2c82e35-f9fc-4c74-8546-9f9016d71ae5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "936b9234f23aeb17db178920364fca7bd46d9f216237f91bd99e28c761d2ff7c"
  },
  "id": "kpMyLbelqBMarcar",
  "tags": []
}